extends layout
title Dispenser de comida
block extraHeader
    link(rel='stylesheet',href="/stylesheets/lib/tagHandler/css/jquery.taghandler.css")
    link(rel ='stylesheet' href='/stylesheets/lib/jQueryUI/css/Aristo/Aristo.css')
block content
 .container
    .row
        .twelve-columns
          .box_c
            .box_c_heading.cf
              .box_c_ico
                img(src='/img/ico/icSw2/16-List.png', alt='')
              p Dispenser de comida
            .box_c_content.form_a
              .tab_pane
                form.nice.custom#form_salvar
                  .row.sepH_b
                    .two.columns
                      .form_legend
                        h5 O que é
                        p
                          | Selecione os horários em que a comida será reposta.
                    .ten.columns
                      .form_content
                        .formRow
                          label(for='ativar_modulo')
                            input#ativar_modulo(type='checkbox', name='ativar_modulo')
                            |                                                   Ativar o dispenser de comida
                        .formRow
                          .row
                            .six.columns
                              label(for='horario_dispenser_a') Horários
                              ul#horario_dispenser_c
                  .formRow(style='text-align:center')
                    .row
                      button.button.small.nice.blue.radius#submit_form(type='button') Enviar
block append scripts
    script(src="/javascripts/js/jquery.customforms.js")
    script(src="/javascripts/lib/tagHandler/js/jquery.taghandler.min.js")
    script.        
        function sendForm(){
        $.ajax({
            url:'/dispenser/comida-salvar',
            data:$("#form_salvar").serialize()+"&horario="+$("#horario_dispenser_c").tagHandler('getTags').join("&horario="),
            type:'POST',
            dataType:'HTML'
          });
        }

        $("#submit_form").click(function(){
            sendForm();
        });
        pet_horario.init() 