extends layout
title Módulo de Som
block extraHeader
    link(rel='stylesheet',href="/stylesheets/lib/tagHandler/css/jquery.taghandler.css")
    link(rel ='stylesheet' href='/stylesheets/lib/jQueryUI/css/Aristo/Aristo.css')
block content
 .container
    .row
        .twelve-columns
          .box_c
            .box_c_heading.cf
              .box_c_ico
                img(src='img/ico/icSw2/16-List.png', alt='')
              p Módulo de Som
            .box_c_content.form_a
              .tab_pane
                form.nice.custom(action='index.html')
                  .row.sepH_b
                    .two.columns
                      .form_legend
                        h5 O que é
                        p
                          | O módulo de som permite que você configure a ativação de sons em horários pré-determinados para entreter o seu bichinho.
                    .ten.columns
                      .form_content
                        .formRow
                          label(for='ativar_modulo')
                            input#ativar_modulo(type='checkbox', name='ativar_modulo')
                            |                                                   Ativar o módulo de sons
                        .formRow
                          .row
                            .six.columns
                              label(for='horario_artefato') Horários
                              ul#horario_som
                  .formRow(style='text-align:center')
                    .row
                      button.button.small.nice.blue.radius(type='button') Enviar
block append scripts
    script(src="/javascripts/js/jquery.customforms.js")
    script(src="/javascripts/lib/tagHandler/js/jquery.taghandler.min.js")
    script.
        pet_horario.init()